---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=MilesUA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ENV['NAMETHISTWEET_TWITTER_CONSUMER_KEY']", oauth_nonce="15370a7b92848758bb3fce148084032e",
        oauth_signature="RLj50gvNOW29v4RfjXU6mIDSoas%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455591116", oauth_token="ENV['NAMETHISTWEET_TWITTER_ACCESS_TOKEN']",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 16 Feb 2016 02:51:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - e3d1d87450d9866d9c155a909f413b18
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '172'
      X-Rate-Limit-Reset:
      - '1455591156'
      X-Response-Time:
      - '119'
      X-Transaction:
      - 024dbc7fd6b19e02
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sun Jan 17 01:32:25 +0000 2016","id":688534305220521988,"id_str":"688534305220521988","text":"I
        don''t tweet much but Im about to start and everyone following me be warned...It''s
        going to all be completely NERD \/ CODE talk. Ur warned.","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":72991324,"id_str":"72991324","name":"Miles","screen_name":"MilesUA","location":"Atanta,
        GA","description":"Data Manager http:\/\/t.co\/Ju3KJqfrng Designer\/developer\/dreamer","url":null,"entities":{"description":{"urls":[{"url":"http:\/\/t.co\/Ju3KJqfrng","expanded_url":"http:\/\/HLNtv.com","display_url":"HLNtv.com","indices":[13,35]}]}},"protected":false,"followers_count":44,"friends_count":75,"listed_count":2,"created_at":"Thu
        Sep 10 00:09:46 +0000 2009","favourites_count":31,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":459,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1396B7","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/69499698\/mqlightbubbles.br.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/69499698\/mqlightbubbles.br.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/551180341554069504\/RC_oCibL_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/551180341554069504\/RC_oCibL_normal.jpeg","profile_link_color":"ABB8C2","profile_sidebar_border_color":"1396B7","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Aug 05 02:44:56 +0000 2015","id":628758556469264384,"id_str":"628758556469264384","text":"#HumanCanvas","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":72991324,"id_str":"72991324",[...]
