---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/oembed.json?id=572757724351492098&omit_script=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ENV['NAMETHISTWEET_TWITTER_CONSUMER_KEY']", oauth_nonce="299bcec4dc45abed8aa5e9c2deca9411",
        oauth_signature="zXApIIsWLrvTuph8RkaEOgZbkw4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455603946", oauth_token="ENV['NAMETHISTWEET_TWITTER_ACCESS_TOKEN']",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 16 Feb 2016 06:25:46 GMT
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3a03a76ea29640cc55e540ccf9d08120
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1455604381'
      X-Response-Time:
      - '35'
      X-Transaction:
      - 08a2c48d6d2e7064
    body:
      encoding: UTF-8
      string: '{"cache_age":"3153600000","url":"https:\/\/twitter.com\/MilesUA\/status\/572757724351492098","height":null,"provider_url":"https:\/\/twitter.com","provider_name":"Twitter","author_name":"Miles","version":"1.0","author_url":"https:\/\/twitter.com\/MilesUA","type":"rich","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003EIn retrospect
        I&#39;m not sure I liked this season of \u003Ca href=\"https:\/\/twitter.com\/hashtag\/HouseOfCards?src=hash\"\u003E#HouseOfCards\u003C\/a\u003E
        as a whole\u003C\/p\u003E&mdash; Miles (@MilesUA) \u003Ca href=\"https:\/\/twitter.com\/MilesUA\/status\/572757724351492098\"\u003EMarch
        3, 2015\u003C\/a\u003E\u003C\/blockquote\u003E\n","width":550}'
  recorded_at: Tue, 16 Feb 2016 06:25:46 GMT
recorded_with: VCR 3.0.0
