html, body {
  margin: 0;
  height: 100%;
}
img {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
fieldset, input, textarea, button {
  border: none;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
}
