.l-form-width {
  width: 300px;
}
.l-margin-top-nav {
  margin-top: 70px;
}
.l-nav-height {
  height: 50px;
}
.l-max-content-width {
  max-width: 1000px;
}
.l-side-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.l-twitter-icon-size {
  width: 24px;
  height: 21px;
}